*.pyc
.idea
build
*.debdata/
doc/
tmp/
data/*
*.deb
src/lib/pjc/web/static/img/pobot-logo-gray.png
data-arch-2014
screenshots
sdcard/

tools/jury_sheets.pdf
tools/approval_sheets.pdf
tools/match_sheets.pdf
tools/make-forms/output
assets/*
tools/make-forms/teams.csv


tools/make-forms/planning.csv