*.pyc
.idea
assets
build
*.debdata/
doc/
tmp/
data/*
*.deb
src/lib/pjc/web/static/img/pobot-logo-gray.png
data-arch-2014
screenshots
sdcard/

docgen/jury_sheets.pdf
docgen/approval_sheets.pdf
docgen/match_sheets.pdf