Package: pjc-mc
Version: 1.16.1
Section: base
Priority: optional
Architecture: all
Depends: python (>= 2.7), python (<< 3.0), python-pip
Maintainer: Eric Pascual <eric@pobot.org>
Description: POBOT Junior Cup Master of Ceremony, a Web application for managing the competition event.
