<table class="table table-striped table-bordered table-condensed status translucent">
    <thead>
    <tr>
        <th rowspan="3">&nbsp;</th>
        <th colspan="3">Robotique</th>
        <th rowspan="2">Exposé</th>
    </tr>
    <tr>
        <th>Epreuve 1</th>
        <th>Epreuve 2</th>
        <th>Epreuve 3</th>
    </tr>
    <tr class="planning">
        <th>&rarr;&nbsp;{{ planning.rob1 }}</th>
        <th>&rarr;&nbsp;{{ planning.rob2 }}</th>
        <th>&rarr;&nbsp;{{ planning.rob3 }}</th>
        <th>&rarr;&nbsp;{{ planning.research }}</th>
    </tr>
    </thead>
    <tbody>
    {% for item in progress %}
    <tr>
        <th>{{ item.team }}</th>
        <td><img src="/img/status-{{ item.rob1 }}.png"></td>
        <td><img src="/img/status-{{ item.rob2 }}.png"></td>
        <td><img src="/img/status-{{ item.rob3 }}.png"></td>
        <td><img src="/img/status-{{ item.research }}.png"></td>
    </tr>
    {% end %}
    </tbody>
</table>
