<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{ title }}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/pjc-screen.css" rel="stylesheet" media="screen">

    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/admin.js" type="text/javascript"></script>
</head>
<body>
<div class="navbar navbar-default">
    <a class="navbar-brand" href="/">POBOT Junior Cup</a>
    <ul class="nav navbar-nav">
        <li class=""><a href="#">Epreuve 1</a></li>
        <li class=""><a href="#">Epreuve 2</a></li>
        <li class=""><a href="#">Epreuve 3</a></li>
        <li class=""><a href="#">Exposé</a></li>
        <li class=""><a href="#">Jury</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuration <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/admin/planning">Planning</a></li>
                <li><a href="#">Affichage TV</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rapports <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/admin/progress">Avancement</a></li>
                <li><a href="/admin/scores">Scores</a></li>
            </ul>
        </li>
        <li id="clock" class="navbar-brand">00:00:00</li>
    </ul>
</div>

<div class="container">
    {% block page_content %}{% end %}
</div>

<div class="logo">
    <img src="/img/pobot-logo.svg">
</div>
</body>
</html>
