<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{ title }}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/pjc-screen.css" rel="stylesheet" media="screen">
    <link href="/css/pjc-tv.css" rel="stylesheet" media="screen">
</head>
<body>
    {% import datetime %}
    <div class="navbar navbar-default">
        <div class="navbar-left">
            <h2>{{ title }}</h2>
        </div>
        <div class="navbar-right">
            <h2>{{ datetime.datetime.now().strftime('%H:%M:%S') }}</h2>
        </div>
    </div>

    <div class="container">
    {% block page_content %}{% end %}
    </div>

    <div class="logo">
        <img src="/img/pobot-logo.svg">
    </div>

    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
