* {
    font-size: 110%;
}

div.banner {
    background: black;
}

table.final-ranking {
    font-size: 120%;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

div.message-box {
    margin-top: 150px;
}